@using static uShop.BaseController
@model ProductsListViewModel@{
    ViewData["Title"] = ViewBag.Bucket.Title;
    ViewSettingsClass viewSettings = ViewBag.ViewSettings as ViewSettingsClass;}<script>

    //var viewSettings = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(viewSettings));
    //var currentUrl = "/Catalog";
    
    //function applySettings() {
    //    viewSettings.InexpensivePrice = $("#IdInexpensive").val();
    //    viewSettings.NewOnly = $("#IdNewOnly")[0].checked;
    //    viewSettings.SaleLeaderOnly = $("#IdSaleLeaderOnly")[0].checked;
    //    var vs = btoa(JSON.stringify(viewSettings));
    //    window.location.href = currentUrl + "?viewSettingsStr=" + vs;
    //    return false;
    //}

    $(function () {

        $(".layout").click(function (ev) {
            $this = $(ev.target);
            if ($this.is(".JS_Filters_run")) {
                applyFilters();
                //console.log(NoFilterURL);
                return;
            }
        });
    });

    var NoFilterURL = window.location.href;

    function collectIds(idElems) {
        var result = "";
        for (var i = 0; i < idElems.length; i++) {
            if (idElems[i].checked) {
                var idparts = $(idElems[i]).data("id").replace(" ", "_");
                console.log("checked - " + idparts);
                if (result !== "") result += ",";
                result += idparts;

            }
        }
        return result;
    }

    function applyFilters() {
        var params = collectIds($("input[data-val='filter']"));

        console.log("params - " + params);

        var newUrl = NoFilterURL + "?f=" + params;

        console.log("NoFilterURL - " + newUrl);

        window.location.href = newUrl;
    }

</script><div class="wrapper layout">    <div class="container-fluid container-xl">        <div class="row py-2 catalog__area">            <div class="col-3">
                <div class="catalog__side">                    <vc:navigation-menu product="new Product()" />



                    @if (Filter.AllGenders != null) { 
                        <ul class="mb-2">
                            @foreach (var i in Filter.AllGenders){
                                if (i == "") continue;
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="" data-id="@i" data-val="filter">
                                        <label class="form-check-label" for="">
                                            @i
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>
                    }

                    @if (Filter.AllCaseForm != null) {
                        <ul class="mb-2">
                            @foreach (var i in Filter.AllCaseForm)
                            {
                                if (i == "") continue;
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="" data-id="@i" data-val="filter">
                                        <label class="form-check-label" for="">
                                            @i
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>
                    }

                    @if (Filter.AllGlass != null) {
                        <ul class="mb-2">
                            @foreach (var i in Filter.AllGlass)
                            {
                                if (i == "") continue;
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="" data-id="@i" data-val="filter">
                                        <label class="form-check-label" for="">
                                            @i
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>
                    }

                    <div class="btn btn-primary JS_Filters_run">Показать результаты</div>
                                    </div>            </div>            <div class="col-9">                <h1 class="display-4">@Model.CurrentCategory</h1>                @*<div class="row mb-3">                    <div class="col d-flex">                        <div class="form-check">                            <input class="form-control" type="text"  id="IdInexpensive" @if (viewSettings.InexpensivePrice != "") {<text>value="@viewSettings.InexpensivePrice"</text>} >                            <label class="form-check-label" for="IdInexpensive">                                 и дешевле                            </label>                        </div>                        <div class="form-check">                            <input class="form-check-input" type="checkbox" value="" id="IdNewOnly" @if (viewSettings.NewOnly) {<text>checked</text>} >                            <label class="form-check-label" for="IdNewOnly">                                Новинка                            </label>                        </div>                        <div class="form-check">                            <input class="form-check-input" type="checkbox" value="" id="IdSaleLeaderOnly" @if (viewSettings.SaleLeaderOnly) {<text>checked</text>} >                            <label class="form-check-label" for="IdSaleLeaderOnly">                                Лидер продаж                            </label>                        </div>                        <div class="btn btn-primary" onclick="return applySettings();">Показать</div>                    </div>                </div>*@                @*<div class="row mb-3">                    @foreach(int x in (int[])ViewData["Booo"])
                    {
                        <div>
                            @x
                        </div>
                    }
                </div>                <div class="row mb-3">                    @foreach(int x in ViewBag.ViewBagData)
                    {
                        <div>
                            @x
                        </div>
                    }
                </div>*@                <div class="catalog">                    @foreach (var p in Model.Products)
                    {                        <partial name="Partials/ProductSummary" model="p" />                    }                </div>                <div class="row">                    <div page-model="@Model.PagingInfo" page-action="Brand" page-classes-enabled="true"                         page-class="btn m-1 " page-class-normal="m-1 btn-outline-dark"                         page-class-selected="btn-primary"                         class="pull-right m-1">                    </div>                </div>            </div>        </div>    </div></div>






    

