@model Product

@if (string.IsNullOrEmpty(Model.ImgFileName)) { Model.ImgFileName = "logo1.png"; }

<a class="catalog__item" href="/Product/@Model.Id.ToString()" >    <div class="catalog__itemImg">
        <div class="catalog__itemImgInner">            <img src="https://mirchasov64.ru/uploads/aaaclock/@Model.ImgFileName" alt="@Model.BrandName" />        </div>
        @if(Model.Discount > 0){<div class="catalog__itemDiscount">@Model.Discount %</div>}
        @if(Model.FlagNew){<div class="catalog__itemNew">New</div>}
        @if(Model.FlagSaleLeader){<div class="catalog__itemNew">Hot</div>}
        
    </div>    <div class="catalog__itemTitle">@Model.Name</div>    <div class="catalog__itemPrice">
        @if(Model.Discount > 0){<div class="catalog__itemPrice_old">@Model.Price</div>}
        <div class="catalog__itemPrice_current">@Model.DiscountPrice ₽</div>            </div></a>